* {
    padding: 0;
    margin: 0;
}
  
.jumbotron {
    color: orange;
    background: black;
    padding: 15px;
    text-align: center;
    font-family: 'Chicle', cursive;
}
  
body {
    background-image: url(/assets/images/haunted-houses.jpg);
    background-size: cover;
}
  
.display-4 {
    font-size: 80px;
}
  
.lead {
    font-size: 60px;
}
  
#instructions {
    font-size: 30px;
}
  
.container-main {
    text-align: center;
    margin-left: 240px;
    color: orange;
    font-family: 'Concert One', cursive;
}
  
.col-md-5 {
    padding: 10px 10px;
    font-size: 20px;
    text-align: center;
    padding-bottom: 100px;
}

#totalWins, #currentWord, #remainingGuesses, #guessedLetters {
      font-size: 30px;
}
  
#youwin-image {
      margin: 0 auto;
      width: 350px;
      height: 450px; 
      padding-top: 50px;
      padding-bottom: 30px;
}

#gameover-image {
    margin: 0 auto;
    width: 350px;
    height: 450px;
    padding-top: 50px;
    padding-bottom: 30px;
}

#footer {
    text-align: center;
    Padding: 20px;
    margin: 0 auto;
    margin-top: 100px;
    background: black;
    clear: both;
    color: orange;
    font-family: 'Chicle';
    margin-left: 105px;
    margin-right: 105px;
  }

@media  only screen and (max-width: 980px) {

}

@media only screen and (max-width: 768px) {
.container-main {
    margin-top: -50px;
    margin-left: 80px;
    margin-bottom: 50px;
    width: 95%;
    float:left;
}

#youwin-image {
    width: 200px;
    height: 300px;
}

#gameover-image {
    width: 200px;
    height: 300px;
}

@media only screen and (max-width: 640px) {
    .container-main {
        margin-top: -30px;
        margin-left: 40px;
        margin-right: 130px;
        margin-bottom: 60px;
        width: 88%;
        float:left;
    }

    #youwin-image {
        width: 500px;
        height: 600px;
    }
    
    #gameover-image {
        width: 500px;
        height: 600px;
    }

    .col-md-5 {
        border: none;
    }

}